/*
FOLHA de estilo do site one page HTML5 e  CSS3
@AUTOR ATHENHOZZZ
athos.com.br
*/
/* smartphone landscape
*/
@media (min-width: 576px){
body{
    background-color: #ffff00;
   }
}
/* tablet*/
@media (min-width: 768px){
    body{
     background-color: #ffff00 ;
    }
}
/* monitores antigos*/
@media (min-width: 992px){
    body{
     background-color: #ffff00 ;
    }
}
/* pcs e notebooks*/
@media (min-width: 1200px){
    body{
     background-color: #ffff00 ;
    }
}
 
body{
    background-color:#ffff00
}